---
# $dark-background: #3c3d3f;
---

@mixin box-sizing($prop) {
-webkit-box-sizing: $prop;
-moz-box-sizing: $prop;
box-sizing: $prop;
}

$light: darken($color: white, $amount: 4);
$dark: #6a6a6a;
$link-color: #275399;

*, ::after, ::before {
  @include box-sizing(inherit);
  margin: 0;
  padding: 0;
}

html {
  @include box-sizing(border-box);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13pt;
  color: $dark;
  text-align: justify;
  margin: .5rem;
}

h1, h2 {
  padding: 0 .25rem 5px;
  margin: 1rem 0;
  border-bottom: 2px solid $dark;
}

h3, h4, h5, h6 {
  padding: 0 .25rem;
  margin: 0.5rem 0;
}

code {
  border-radius: 5px;
  background-color:  $light;
  border: 2px solid $dark;
  color: $dark;
  padding: 0 .25em;
}

blockquote {
  margin: 1.5rem 0 1.5rem 1.5rem;
  border-left: 4px solid lighten($link-color, 10);
  padding: .25rem .5rem;
  background-color: $light;
  width: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: lighten($color: $link-color, $amount: 10);
}

p {
  line-height: 1.4;
  text-indent: 1.5em;
}

hr {
  margin: 1.5em auto;
}