---
# $dark-background: #3c3d3f;
---

@mixin box-sizing($prop) {
  -webkit-box-sizing: $prop;
  -moz-box-sizing: $prop;
  box-sizing: $prop;
}

@mixin flex() {
  display: flex;
  display: -webkit-flex;
}

@mixin flex-flow($prop) {
  flex-flow: $prop;
  -webkit-flex-flow: $prop;
}

@mixin sticky() {
  position: sticky;
  position: -webkit-sticky;
}

$light: darken($color: white, $amount: 4);
$dark: #6a6a6a;
$link-color: #275399;

$color-shift: 10;

$minw: 600px;

*, ::after, ::before {
  @include box-sizing(inherit);
  margin: 0;
  padding: 0;
}

html {
  @include box-sizing(border-box);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13pt;
  color: $dark;
}

h1 {
  padding: 0 .25rem 5px;
  margin: 1rem 0;
  border-bottom: 2px solid $dark;
}

h2, h3, h4, h5, h6 {
  padding: 0 .25rem;
  margin: 0.5rem 0;
}

code {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  background-color:  $light;
  border: 2px solid $dark;
  color: $dark;
  padding: .125em .25em 0;
}

blockquote {
  margin: 1.5rem 0 1.5rem;
  border-left: 4px solid lighten($link-color, $color-shift);
  padding: .25rem .5rem;
  background-color: $light;
  width: auto;
  display: inline-block;

  @media (min-width: $minw) {
    margin-left: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: lighten($link-color, $color-shift);
  }
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  text-align: left;

  th, td {
    padding: 0.25rem;
  }

  th {
    font-weight: bold;
    border-bottom: 2px solid $dark;
  }

  tr {
    &:last-child {
      border-bottom: 2px solid $dark;
    }

    &:nth-child(even) {
      background-color: $light;
    }
  }
}

p {
  line-height: 1.4;
  text-indent: 1.5em;
  text-align: justify;
  overflow-wrap: break-word;
}

hr {
  margin: 1.5em auto;
}

nav {
  @include sticky();
  background-color: $dark;
  padding: 0 1rem;
  box-shadow: 0 0 5px 2px $dark;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  a {
    color: darken($light, $color-shift);
    display: inline-block;
    padding: .5rem .25rem;
    border-bottom: 3px solid $dark;
    
    &:hover {
      color: $light;
      text-decoration: none;
      border-color: darken($light, $color-shift);
    }
  }
}

ul, ol {
  padding-left: .5rem;
  margin: 1.5rem 0;
  list-style-position: inside;
}

%arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-color: $light;
  border-left: 3px solid;
  border-bottom: 3px solid;
}

.left-arrow {
  @extend %arrow;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}

.right-arrow {
  @extend %arrow;

  -ms-transform: rotate(225deg); /* IE 9 */
  -webkit-transform: rotate(225deg); /* Safari */
  transform: rotate(225deg);
}

.chapter-content {
  padding: 0 1rem 25%;

  @media (min-width: $minw) {
    padding: 0 0 25%;
    width: 80%;
    margin: 0 auto;
  }
}

.tag-container {
  @include flex();
  @include flex-flow(row wrap);

  code {
    margin: .25rem;
  }
}
